h1{
	color: red;
}

.bgc{
	background-color:green;
	min-height: 50px;
	margin-top: 10px;
}
.bgc_1{
	background-color:red;
	min-height: 50px;
	margin-top: 10px;
}
.bgc_2{
	background-color:black;
	min-height: 50px;
	margin-top: 10px;
}
.bgc_3{
	background-color:blue;
	min-height: 50px;
	margin-top: 10px;
}
.bgc_4{
	background-color:aqua;
	min-height: 50px;
	margin-top: 10px;
}
.bgc_5{
	background-color:gold;
	min-height: 50px;
	margin-top: 10px;
}
.bgc_6{
	background-color:pink;
	min-height: 50px;
	margin-top: 10px;
}
.bgc_7{
	background-color:red;
	min-height: 50px;
	margin-top: 10px;
}
.bgc_8{
	background-color:green;
	min-height: 50px;
	margin-top: 10px;
}
